{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block main %}
    {% if search is defined %}
        <h1>Results for terms: {{ search }}</h1>
    {% else %}
        <h1>Episodes List</h1>
    {% endif %}
    <div id="episode-brick-wrapper">
        {% for episode in episodes %}
            <a href='{{ path("episode_show", {"id": episode.id }) }}' class="episode-brick">
                <div class="episode-thumbnail" data-thumb-image="{{ episode.thumbnailImage }}" data-thumb-video="{{ episode.thumbnailVideo }}"></div>
                <small class="episode-title-list">{{ episode.serie.defaultName.text }} - Episode {{ episode.number}}</small>
            </a>
        {% else %}
            {% if search is defined %}
                <p>Sorry, no results found for the terms: {{ search }}</p>
            {% else %}
                <p>Sorry, the database is certainly kaputt and we need to figure out wtf is happening</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
