{% extends 'base.html.twig' %}

{% block subtitle %}
    {{ episode.serie.defaultName }} Episode {{ episode.number }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("episode/show") }}
{% endblock %}

{% block main %}

    <h1>{{ episode.serie.defaultName }} Episode {{ episode.number }}</h1>

    <a href="{{ path('episode_index') }}">back to list</a>

    <video width="320" height="240" controls>
        <source src="{{ episode.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <h2>Tags</h2>
    <ul>
        {% for tag in episode.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <h2>Of the same serie</h2>
    <ul>
        {% for ep in episode.serie.episodes | slice(0, 4) %}
            {% if ep.id != episode.id %}
                <li><a href="{{ path('episode_show',{'id': ep.id}) }}">{{ ep.serie.defaultName }} - Episode {{ ep.number }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>With tag related</h2>
    <ul>
        {% for tag in episode.tags %}
            {% for ep in tag.episodes | slice(0, 2) %}
                {% if ep.id != episode.id %}
                    <li><a href="{{ path('episode_show', {'id': ep.id}) }}">{{ tag.name }} tag: {{ ep.serie.defaultName }} Ep {{ ep.number }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
