{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block main %}
    <h1>{{ serie.defaultName.text }}</h1>

    <h2>Episodes</h2>
    <ul>
        {% for episode in serie.episodes %}
            <li>
                <a href='{{ path("episode_show", {"id": episode.id }) }}'>Episode {{ episode.number }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Synopsis</h2>
    <p>
        {{ serie.synopsis }}
    </p>
    <a href="{{ path('serie_index') }}">back to list</a>

{% endblock %}
