<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset_locator("build/assets/icons/favicon.ico") }}">
        <title>
            {% block title %}
                Anime Panda - {% block subtitle %}{% endblock %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("base") }}
            {{ encore_entry_link_tags("partials/nav") }}
            {{ encore_entry_link_tags("widget/carousel") }}
            {{ encore_entry_link_tags("widget/masonry") }}
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <aside>
                {% block aside %}{% endblock %}
            </aside>

            <main>
                {% block main %}{% endblock %}
            </main>

            <nav>
                {% include 'partials/nav.html.twig' %}
            </nav>

            {% include 'partials/footer.html.twig' %}

            {% block javascripts %}
                {{ encore_entry_script_tags("base") }}
                {{ encore_entry_script_tags("partials/nav") }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
