{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tag/index') }}
{% endblock %}

{% block main %}
    <h1>Pick your kink</h1>
    {% if tags is not empty %}
        <label class="switch" for="tag-any-all">
            <input id="tag-any-all"type="checkbox">
            <span class="slider round"></span>
            any/all
        </label>

        <div id="tag-table">
            {% for tag in tags %}
                <a class="tag-item" id="{{ tag.id }}">{{ tag.name }}</a>
            {% else %}
                    no tags found
            {% endfor %}
        </div>
        <button type="button" id="search-tags" data-url="{{ path('search_tags') }}">
            Search
        </button>
        <button type="button" id="reset-tags">
            Reset selection
        </button>
    {% else %}
        <p>
            It seems that our database do not have any tags to provide you.
            All the animePanda team is sorry for this hasle.
        </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tag/index') }}
{% endblock %}
