<header>
    <nav id="top-nav">
        <img id="nav-website-picture" src="{{ asset("build/images/logo.png") }}" alt="Anime panda logo" width="30" height="40">
        <a id="nav-link-studios" class="nav link" href='{{ path("studio_index") }}'>Studios</a>
        <a id="nav-link-series" class="nav link" href='{{ path("serie_index") }}'>Series</a>
        <a id="nav-link-episodes" class="nav link" href='{{ path("episode_index") }}'>Episodes</a>
        <a id="nav-link-tags" class="nav link" href='{{ path("tag_index") }}'>Tags</a>
        <form id="nav-input" class="nav" action='{{ path("search_series") }}' method="POST">
            <input id="nav-input-search" placeholder="search" name="search" type="text">
            <input id="nav-input-button" type="submit" value="SEARCH">
        </form>
    </nav>
</header>